[submodule "librfxcodec"]
	path = librfxcodec
	url = https://github.com/manni07/librfxcodec.git
	branch = .
	ignore = untracked
[submodule "libpainter"]
	path = libpainter
	url = https://github.com/manni07/libpainter.git
	branch = .
	ignore = untracked
[submodule "ulalaca"]
	path = ulalaca
	url = https://github.com/neutrinolabs/ulalaca-xrdp.git
